<div class="jumbotron">
  <div class="row">
    <% 3.times do |n| %>
      <div class="col-sm">
        <%= image_tag "https://picsum.photos/200/300?random=#{n}", class: 'img-fluid' %>    
      </div>
    <% end %>
  </div>
  <h1>Hello World!</h1>
  <p>This is a temporary home page.</p>
  <p>This app is <em>being</em> developed by <a href="https://github.com/jamcry" target="_blank">JamCry.</a></p>
</div>
