<p>
  <% if logged_in? %>
    Signed in as <strong><%= current_user.name %></strong>
    <em>
    <%= link_to "(logout)", logout_path,
                            data: {confirm: "You are logging out!"} %>
    </em>
  <% else %>
    <em><%= link_to "(login)", login_path %></em>
    <em><%= link_to "(signup)", signup_path %></em>
  <% end %>
</p>