<div class="jumbotron">
  <h1>Upcoming Events</h1>
  <div class="card-columns">
    <%= render @events.upcoming_events %>
  </div>
  
  <h1>Past Events</h1>
  <div class="card-columns">
    <%= render @events.previous_events %>
  </div>
</div>