<div class="jumbotron">
  <h1>Upcoming Events</h1>
  <div class="list-group col-md-6 m-auto">
    <%= render @events.upcoming_events %>
  </div>
  
  <h1>Past Events</h1>
  <div class="list-group col-md-6 m-auto">
    <%= render @events.previous_events %>
  </div>
</div>